@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Times, serif;
}

section{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(210, 234, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    perspective: 1000px;
  
}/*
section::before{
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    background: linear-gradient(90deg,rgb(18, 53, 208),rgb(228, 221, 221));
    border-radius: 50%;
    transform: translate(-150px,-100px);
}
section::after{
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    background: linear-gradient(90deg,rgb(18, 47, 208),rgb(228, 221, 221));
    border-radius: 50%;
    transform: translate(150px,100px);
}
*/

.container{
    height: 230px;
    width:400px;
    position: relative;
    z-index: 100;
    transition: 0.6s;
    transform-style: preserve-3d;


}
.container:hover{
    transform: rotateY(180deg);
}
.container .card{
    height: 100%;
    background-image: url('https://imgs.search.brave.com/r7xSDvFPecp8cE3mUQlCq_KEo2uL7JX1apDt8U3BoMk/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS12ZWN0b3Iv/YmxhY2stcGF0dGVy/bi13aXRoLXdhdnkt/c2hhcGVzXzEwMTct/NzQ4Mi5qcGc_c2l6/ZT02MjYmZXh0PWpw/Zw');
    position: absolute;
    width: 100%;
    padding: 25px;
    border-radius: 25px;
    /*backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255,255, 0.1);
    background: rgba(255, 255,255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0,0, 0.25);*/
    backface-visibility: hidden;
}
.front  header,
.front  .logo{
    display: flex;
    align-items: center;
}
.front  header{
    justify-content: space-between;
}
.front .logo img{
    width:48px;
    margin-right: 10px;

}
h5{
    font-size: 16px;
    font-weight: 400;
}
.front .chip{
    width: 50px;
    border-radius: 13px;

}

.front .card-details{
    display: flex;
    margin-top:40px ;
    align-items: flex-end;
    justify-content: space-between;
}
h6{
    font-size:16px;
    font-weight: 400;
}
h5.number{
    font-size: 18px;
    letter-spacing: 1px;
}
h5.name{
    margin-top: 20px;
}
.back{
    border: none;
    padding: 15px 25px 25px 25px;
    transform: rotateY(180deg);
}
.back h6{
    font-size: 8px;
}
.back .magnet-strip{
    position: absolute;
    height: 45px;
    top: 60;
    left: 0;
    width: 100%;
    background: #000;
    margin-top: 10px;
}
.back .sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 80px;
    height: 40px;
    width: 85%;
    border-radius: 6px;
    background: repeating-linear-gradient(
        45deg, /* Angle of the gradient */
        #fff, 
        #fff 3px, 
        #efefef 3px, 
        #efefef 9px
    );
    position: relative; /* To allow positioning of the icon */
}

.sign i {
    color: #000;
    font-size: 12px;
    position: absolute; /* Make the icon overlap */
    right: -25px; /* Adjust the positioning */
    background: white;
    padding: 4px 6px;
    border-radius: 4px;
    z-index: -2; /* Ensure it stays on top */
}

.back h5 {
    font-size: 8px;
    margin-top: 15px;
}
